.matCardBg {
  background-color: rgba(21, 154, 255, 0.1);
}

// mat-expansion-panel-header:hover {
//   background: rgb(42, 42, 135) !important;
// }
.audio-container {
  audio {
    width: 55vw;
  }
}
.dot-menu {
  display: inline-block;
  transform: rotate(90deg);
  color: darkblue;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.exp-panel-headers:hover {
  background: rgb(42, 42, 135, 0.7) !important;
}

.newMessage {
  background-color: rgba(255, 166, 0, 0.7) !important;
}

.green {
  background-color: rgba(21, 179, 21, 0.7) !important;
}

#picUploadInput {
  display: none;
}

.reducedHeight {
  height: 40vh;
}

.seenDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 0px;
  margin-bottom: 0;
  margin-left: 1px;
}
.seen {
  color: rgb(6, 60, 6);
  padding: 2px;
  width: fit-content;
}

.fade-in {
  opacity: 1 !important;
  transition: opacity 2s ease;
}

.hidden {
  opacity: 0;
}

mat-expansion-panel-header {
  grid-template-columns: auto auto;
  background-color: rgba(209, 230, 18, 0.4) !important;
}
mat-expansion-panel-header:hover {
  background-color: rgba(209, 230, 18, 0.7) !important;
}

.icons {
  position: relative;
  top: 5px;
  margin-right: 9px;
  margin-left: 9px;
}

.card {
  height: fit-content;
}

.msgsCard {
  width: 80vw !important;
}

.cardBg {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
}

.messageInput {
  width: 80vw;
}

.user-searched-container {
  cursor: pointer;
  width: fit-content;
}
.user-searched-container:hover {
  background: grey;
}

.left {
  background-color: rgba(23, 23, 143, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.right {
  background-color: rgba(255, 255, 255, 0.952);
  padding: 5px;
  border-radius: 5px;
}

.buttonCont {
  text-align: center;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}

.pad {
  padding: 0;
}

.timeDivRight {
  width: 55vw !important;
  justify-content: center !important;
}

.emailDateDiv {
  margin-left: 40px;
  text-align: left;
  width: fit-content;
  overflow: auto;
  justify-content: start;
  mat-card-subtitle {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.mat-card-title-group {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.messageCardDiv {
  position: absolute;
  bottom: 0%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 40%);
  // height: 45vh;
  width: 100vw;
}

.grey {
  color: rgb(32, 31, 31);
}

.allMessagesContainer {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 60vh !important;
}

.mainDiv {
  height: fit-content;
}

.mainDivUser {
  margin-bottom: 10px;
  margin-left: 45px;
  max-width: 60vw !important;
}

.myMessageRight {
  margin-left: 40px !important;
  max-width: 60vw !important;
}

.myMessageLeft {
  margin-left: 8px !important;
  max-width: 60vw !important;
}

.mainDivUsers {
  margin-bottom: 10px;
  width: 70vw !important;
}

.deleteButton {
  background-color: red !important;
  color: whitesmoke !important;
}

.matHeader {
  width: max-content !important;
}

.delCont {
  margin-left: 100px;
  padding-left: 20px;
}
.blue {
  background-color: rgba(8, 8, 156, 0.6) !important;
}

.card {
  position: relative;
}

.card-footer {
  position: relative;
  height: 4vh;
  mat-icon {
    font-size: 1.2rem;
  }
}

.sendMessageOpenButton {
  margin-bottom: 0 !important;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 100vw;
}

.fileButton {
  label {
    cursor: pointer !important;
  }
}

.config-options-container {
  font-size: 1rem;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  ol {
    margin: 0 5px 0 0;
    overflow: hidden;
  }

  span {
    color: rgba(49, 6, 49, 0.8);
  }
  mat-icon {
    color: blue;
  }
}

ol {
  list-style: none;
}

.title-container {
  width: fit-content;
  height: fit-content;
  h2 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
}
.notif-container {
  width: fit-content;
}

@media screen and (max-width: 400px) {
  .right {
    width: fit-content;
  }
  .left {
    width: fit-content;
    justify-content: start;
  }
  .mainDiv {
    width: 85%;
  }
  .messageInput {
    width: 80vw;
  }
  .timeDivRight {
    justify-content: start !important;
    margin-left: 37px;
  }
  .card-footer {
    height: 8vh !important;
  }
  .config-options-container {
    ol {
      overflow: hidden;
      height: fit-content;
      margin: 0;
      padding: 0px 0px 0px 5px;
    }
    height: fit-content;
    span {
      display: none;
    }
  }
  .audio-container {
    audio {
      width: 55vw;
    }
  }
}

.my-posts-header {
  background: rgb(78, 90, 162, 0.7) !important;
}

.exp-panel-headers {
  background: rgba(141, 148, 190, 0.7) !important;
}

.album-icon {
  color: rgb(46, 46, 219);
}
.feeds-icon {
  color: green;
}
.messages-icon {
  color: rgb(177, 80, 19);
}
.friends-icon {
  color: rgb(88, 21, 88);
}
.profile-icon {
  color: rgb(177, 40, 40);
}
@media screen and (max-height: 614px) {
  .right {
    width: fit-content;
  }
  .left {
    width: fit-content;
    justify-content: start;
  }
  .mainDiv {
    width: 85%;
  }
  .messageInput {
    width: 80vw;
  }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .right {
    width: 50vw;
  }
  .left {
    width: 50vw;
  }
  .audio-container {
    audio {
      width: 45vw;
    }
  }
  .mainDiv {
    width: 85%;
  }
  .messageInput {
    width: 80vw;
  }
  .mainDivUsers {
    margin-left: 8vw;
  }
  .timeDivRight {
    justify-content: start !important;
    margin-left: 100px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1250px) {
  .right {
    width: 50vw;
  }
  .left {
    width: 50vw;
  }
  .audio-container {
    audio {
      width: 45vw;
    }
  }
  .mainDiv {
    width: 85%;
  }
  .messageInput {
    width: 80vw;
  }
  .mainDivUsers {
    margin-left: 8vw;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1900px) {
  .right {
    width: 50vw;
  }
  .left {
    width: 50vw;
  }
  .audio-container {
    audio {
      width: 45vw;
    }
  }
  .mainDiv {
    width: 85%;
  }
  .messageInput {
    width: 80vw;
    height: 15vh;
  }
  .mainDivUsers {
    margin-left: 8vw;
  }
}

@media screen and (min-width: 1900px) {
  .right {
    width: 50vw;
  }
  .left {
    width: 50vw;
  }
  .audio-container {
    audio {
      width: 45vw;
    }
  }
  .mainDiv {
    width: 85%;
  }
  .messageInput {
    width: 80vw;
    height: 12vh;
  }
  .mainDivUsers {
    margin-left: 10vw;
  }
}
