<button (click)="sendMessNotifications()" type="button">Swpush</button>
<h1 class="text-center">Flame Chat</h1>

<div *ngIf="sendPrivateMessageOn" class="text-center searchContainer">
  <div class="mb-2 w-50">
    <input
      [(ngModel)]="searchWord"
      type="text"
      class="form-control"
      id="floatingInput"
      name="search"
      placeholder="Üzenet keresése"
    />
  </div>
</div>

<div class="row" *ngIf="!sendPrivateMessageOn">
  <div class="col">
    <mat-accordion>
      <mat-expansion-panel class="mb-2">
        <mat-expansion-panel-header class="d-grid justify-content-center">
          <mat-panel-title class="pt-2">
            Ismerősök
            <mat-icon
              matBadgeSize="small"
              [matBadge]="userFriends.length"
              matBadgeColor="primary"
              class="ms-2"
              aria-hidden="false"
              >groups</mat-icon
            ></mat-panel-title
          >
        </mat-expansion-panel-header>

        <div class="row justify-content-center">
          <div
            class="col-12 col-md-4 col-lg-3 col-xl-2"
            *ngFor="let friend of userFriends; let i = index"
          >
            <ng-container>
              <ng-container>
                <mat-card
                  class="mb-2 mt-3 d-grid justify-content-center matCardBg"
                >
                  <mat-card-header class="d-grid justify-content-center">
                    <mat-card-title>
                      {{ friend.displayName }}
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="d-flex justify-content-center"
                    ><img
                      [src]="friend.profilePicture"
                      alt=""
                      width="50px"
                      height="50px"
                      class="rounded"
                  /></mat-card-content>
                  <mat-card-footer>
                    <mat-card-content class="d-flex flex-column justify-content-center flex-wrap">
                      <mat-card-subtitle class="text-center">
                        {{ friend.email }}
                      </mat-card-subtitle>
                      <div class="text-center">
                        <button
                        style="width: max-content;"
                        matIconSuffix
                        (click)="toFriendProfile(friend.friendId)"
                        class="btn btn-sm btn-primary me-2 mb-1"
                        type="button"
                      >
                        <span class="text-center align-middle">Profil megtekintése </span>
                        
                          <mat-icon class="text-center align-middle">person</mat-icon>
                      </button>
                        <button
                          matIconSuffix
                          (click)="removeFriend(friend.friendKey)"
                          class="btn btn-sm btn-danger"
                          type="button"
                        >
                          <span class="align-middle">Törlés</span>
                          
                            <mat-icon class="align-middle">person_remove</mat-icon>
                          
                        </button>
                      </div>
                    </mat-card-content>
                  </mat-card-footer>
                </mat-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header
          (click)="getNewMessage()"
          class="d-grid justify-content-center"
          [ngClass]="haventSeenMessagesArr.length > 0 ? 'newMessage' : ''"
        >
          <mat-panel-title class="pt-2">
            Üzenetek
            <mat-icon
              matBadgeSize="small"
              matBadge="{{ haventSeenMessagesArr.length }}"
              matBadgeColor="primary"
              class="ms-2"
              aria-hidden="false"
              >chat</mat-icon
            ></mat-panel-title
          >
        </mat-expansion-panel-header>
        <div class="row justify-content-center">
          <div
            class="col-12 col-md-4 col-lg-3 col-xl-2"
            *ngFor="let mess of showFriendsMess"
          >
            <ng-container >
              <ng-container>
                <div
                  class="mt-2 text-center fw-b text-danger"
                  *ngIf="mess.seen === false"
                >
                  <h3>Új üzenet érkezett</h3>
                </div>
                
                    <div
                      class="card mt-2 text-white text-center"
                      [ngClass]="
                        mess.seen === false ? 'bg-primary' : 'bg-warning'
                      "
                    >
                      <h5 class="card-header">
                        <h2>{{ mess.displayName }}</h2>
                      </h5>
                      <div class="card-body">
                        <img
                          [src]="mess.profilePicture"
                          width="50px"
                          height="50px"
                          class="rounded-circle"
                        />
                        <p class="card-text"></p>
                      </div>
                      <div class="card-footer">
                        <button
                          (click)="getMessageUser(mess)"
                          mat-raised-button
                
                          class="btn btn-sm btn-primary ms-2 blue"
                          type="button"
                        >
                          <span class="icons"><mat-icon> chat </mat-icon></span>
                        </button>
                      </div>
                    </div>
              </ng-container>
                
            </ng-container>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header
          (click)="toUserProfile()"
          class="d-grid justify-content-center"
        >
          <mat-panel-title
            >Profilom
            <mat-icon class="ms-2">person</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col">
            <app-user-profile *ngIf="isUserProfileOn"></app-user-profile>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header class="d-grid justify-content-center">
          <mat-panel-title
            >Üzenőfal
            <mat-icon class="ms-2">feed</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col">
            <app-news></app-news>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row justify-content-center" *ngIf="!sendPrivateMessageOn && friendsOn">
  <div
    *ngFor="let notFriend of userNotFriends; let i = index"
    class="col-12 col-md-6 col-lg-3 mb-2 d-flex justify-content-center"
  >
    <ng-container>
      <ngb-toast
        [id]="notFriend.uid"
        class="d-grid justify-content-center text-center mt-2"
        [autohide]="false"
        [header]="notFriend.displayName"
        #toastHeader
      >
        <img
          [src]="notFriend.profilePicture"
          width="50px"
          height="50px"
          alt="Profilkép"
        />
        <div>
          <small>{{ notFriend.email }}</small>
        </div>

        <ng-container>
          <ng-container>
            <button
              (click)="signAsAFriend(notFriend)"
              mat-raised-button
              color="accent"
              type="button"
            >
              <span class="icons"><mat-icon> person_add </mat-icon></span>
            </button>
          </ng-container>
        </ng-container>
      </ngb-toast>
    </ng-container>
  </div>
</div>

<div
  *ngIf="sendPrivateMessageOn"
  class="d-flex flex-wrap justify-content-center sendMessageOpenButton"
>
  <button
    *ngIf="!messageButtonClicked"
    (click)="backToUsers()"
    class="green ms-2 me-2 mt-2"
    type="button"
    mat-raised-button
  >
   
      <mat-icon> keyboard_backspace </mat-icon>
    
    Vissza
  </button>
  <button
    class="ms-2 mt-2"
    *ngIf="!messageButtonClicked"
    (click)="messageButtonClicked = true"
    mat-raised-button
    color="accent"
    type="button"
  >
    Üzenet írása
  </button>
</div>
<div
  *ngIf="sendPrivateMessageOn"
  class="messageCardDiv d-grid justify-content-center"
>
  <mat-card *ngIf="messageButtonClicked" class="messageCard">
    <mat-card-header class="justify-content-center">
      <mat-card-title>
        <button
          (click)="messageButtonClicked ? messageButtonClicked = false : backToUsers(); messageButtonClicked = false"
          class="green ms-2 me-2 mb-2"
          type="button"
          mat-raised-button
        >

            <mat-icon> {{messageButtonClicked ? 'arrow_downward' :  'keyboard_backspace'}} </mat-icon>
            {{messageButtonClicked ? 'Bezár' :  'Vissza'}}

        </button>
        <mat-form-field class="messageInput">
          <mat-label>Üzenet írása</mat-label>
          <textarea
            [(ngModel)]="message.message.message"
            matInput
            rows="2"
          ></textarea>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="text-center d-flex justify-content-center flex-wrap">
      <button
    
        *ngIf="message.message"
        class="me-2 mb-1"
        color="accent"
        [disabled]="uploadFinished == false"
        (click)="addMessage(); messageButtonClicked = false"
        mat-raised-button
      >
        
        {{ "Küldés" }}
        <mat-icon>send</mat-icon>
      </button>
      <div >

        <button (click)="!uploadFinished ? uploadFiles() : ''" class="me-2 mb-1 fileButton" [ngClass]="[uploadFinished ? 'bg-primary' : 'bg-success']" mat-raised-button type="button">
          <label *ngIf="!uploadFinished" for="fileUpload">Fájlok feltöltése</label>
          <label *ngIf="uploadFinished"  for="picUploadInput">Fájlok csatolása</label>
          <input *ngIf="uploadFinished" (change)="uploadFinished ? selectedFs($event) : ''" id="picUploadInput" multiple type="file">
        </button>
        
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="text-center" *ngFor="let file of selectedFiles">{{file.name}}</div>
    </mat-card-content>
  </mat-card>
</div>

<ng-container *ngIf="userMessages">
  <div
    [ngClass]="
      object.message.senderId === userProfile.uid
        ? 'justify-content-start mainDivUser'
        : 'justify-content-end mainDivUsers'
    "
    class="d-grid mainDiv"
    *ngFor="let object of getFirstFiveMessagesForSelectedFriend() | sort | filter : searchWord"
  >
    <mat-card
      [ngClass]="
        object.message.senderId === userProfile.uid
          ? 'left messagesCard'
          : 'right'
      "
      class="card"
    >
      <ng-container
        *ngIf="
          (object.message.senderId === selectedFriend.friendId &&
            object.participants[1] === userProfile.uid) ||
          (object.message.senderId == userProfile.uid &&
            object.participants[1] === selectedFriend.friendId) 
            
        "
      >
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              {{ object.message.displayName }}
            </mat-card-title>
            <img
              #spanAnchor
              [id]="this.message['key']"
              mat-card-sm-image
              class="ms-2 overflow-auto"
              style="border-radius: 10px"
              [src]="object.message.profilePhoto"
              alt="Profilkép"
            />
          </mat-card-title-group>
        </mat-card-header>

        <div class="recipe-making-container mt-2">
          <mat-card-content>
            <p><b>{{ object.message.message }}</b></p>
            <ng-container *ngFor="let file of sentFilesArr">
              <ng-container *ngIf="file.chatId === object.key">
                <img (click)="fileModalOpen(file.files, i)" class="me-1 rounded" *ngFor="let pic of file.files; let i = index" mat-card-sm-image [src]="pic.url" alt="">
              </ng-container>
            </ng-container>
          </mat-card-content>
          <mat-card-content class="card-content">
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-content>
        </div>

        <mat-card-footer>
          <mat-card-content class="pad">
            <hr />

            <mat-card-title-group class="mat-card-title-group">
              <div class="emailDateDiv d-grid justify-content-start">
                <mat-card-subtitle
                  [ngClass]="
                    object.message.senderId === userProfile.uid
                      ? 'grey'
                      : 'right'
                  "
                  >{{ object.message.email }}</mat-card-subtitle
                >
                <mat-card-subtitle
                  [ngClass]="
                    object.message.senderId === userProfile.uid
                      ? 'grey'
                      : 'right'
                  "
                  >{{ object.message.viewTimeStamp }}</mat-card-subtitle
                >
              </div>
            </mat-card-title-group>

            <div class="buttonCont">
              <mat-card-actions class="d-flex flex-wrap justify-content-end">
                <button class="bg-warning text-center" mat-raised-button type="button"
                *ngIf="userProfile.uid === object.message.senderId"
                    (click)="deleteMessage(object)">
                  <span class="align-middle">Törlés</span><span
                    class="ms-2 mt-2 bi bi-trash3-fill h3 text-danger rounded align-middle"
                    
                  ></span>
                </button>
              </mat-card-actions>
            </div>
            <mat-card-subtitle class="seen fs-2 mt-2 ms-2" *ngIf="object.message.senderId === userProfile.uid && object.message.seen === true">
              látta
            </mat-card-subtitle>
          </mat-card-content>
        </mat-card-footer>
      </ng-container>
    </mat-card>
  </div>
</ng-container>
