

.card {
    
    height: fit-content;
    
    
}
.messageInput {
    width: 40vw;

}
.messageCard{
width: 50vw;
}

.left{
    background-color: rgb(23, 23, 143, 0.5);
    color: white;
    width: 95vw;
}

.right{
    margin-bottom: 5px;
    width: 100%;
}

.grey {
    color: rgb(32, 31, 31)
}

.mainDiv{
    width: 100vw;
    height: fit-content;
}

.mainDivUser{
    width: 80vw;
}

.messagesCard {
    margin-bottom: 10px;
}
.deleteButton {
    background-color:red !important;
    color:whitesmoke !important;
}

.matHeader {
    width:max-content !important;
}

.delCont{
    margin-left: 100px;
    padding-left: 20px;
}
.updateButton {
    background-color: rgba(6, 6, 92,0.7);
}