<div class="message-page" [style.--bg-url]="'url(' + chosenMsgTheme + ')'">
  <!-- háttér a választott témából -->
  <!-- AppBar -->
  <mat-toolbar class="chat-appbar" color="primary">
    <button mat-icon-button (click)="backToUsers()" aria-label="Vissza">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="title">
      <img class="avatar" [src]="selectedFriend?.profilePicture" alt="" />
      <div class="meta">
        <div class="name">{{ selectedFriend?.displayName }}</div>
        <div class="status" *ngIf="selectedFriend?.visibility">
          {{
            selectedFriend?.online
              ? 'online'
              : 'Utoljára: ' + selectedFriend?.lastTimeOnline
          }}
        </div>
      </div>
    </div>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menü">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Felső menü: Téma választó -->
  <mat-menu #menu="matMenu">
    <button [matMenuTriggerFor]="themesMenu" mat-menu-item>
      <mat-icon>contrast</mat-icon>
      <span>Téma</span>
    </button>
  </mat-menu>

  <mat-menu #themesMenu="matMenu">
    <button
      (click)="chooseMsgTheme(theme)"
      mat-menu-item
      *ngFor="let theme of msgThemes"
    >
      <img width="64" height="36" [src]="theme.url" [alt]="theme.name" />
      <span>{{ theme.name }}</span>
    </button>
  </mat-menu>

  <!-- Kereső sor kerekített, outline stílussal -->
  <!-- <div class="searchbar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Üzenet keresése</mat-label>
      <input
        matInput
        [(ngModel)]="searchWord"
        placeholder="Keresés a beszélgetésben"
      />
      <button
        *ngIf="searchWord"
        matSuffix
        mat-icon-button
        (click)="searchWord = ''"
        aria-label="Törlés"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div> -->

  <!-- Üzenetlista -->
  <div #scrollContainer class="chat-body">
    <ng-container *ngIf="userProfile?.uid && selectedFriendId">
      <div
        *ngFor="let msg of visibleMessages | filter : searchWord; let i = index"
        class="bubble"
        [class.right]="msg.message.senderId === userProfile.uid"
        [attr.data-index]="i"
        [id]="'msg-' + i"
      >
        <!-- Bal oldali (barát) avatar -->
        <div class="avatar-container">
          <img
            *ngIf="msg.message.senderId === selectedFriendId"
            class="avatar mb-5"
            [src]="selectedFriend.profilePicture"
            alt="friend-profile-picture"
            (click)="showFriendsProfPics()"
          />
        </div>

        <div class="msg scroll-to-new-mess">
          <!-- időbélyeg a buborék felett -->
          <div
            class="time"
            [class.align-right]="msg.message.senderId === userProfile.uid"
          >
            {{ msg.message.viewTimeStamp }}
          </div>

          <!-- képek / videók -->
          <ng-container *ngFor="let file of sentFilesArr">
            <ng-container *ngIf="file.chatId === msg.key">
              <div class="attachments">
                <ng-container *ngFor="let pic of file.files; let pIdx = index">
                  <img
                    *ngIf="
                      !pic.fileName.includes('.mp4') &&
                      !pic.fileName.includes('m4a')
                    "
                    class="photo"
                    [src]="pic.url"
                    [alt]="pic.fileName"
                    (click)="fileModalOpen(file.files, pIdx)"
                  />
                  <video
                    *ngIf="pic.fileName.includes('.mp4')"
                    class="video"
                    [src]="pic.url"
                    controls
                  ></video>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>

          <!-- szöveg + válaszolt üzenet -->
          <ng-container *ngIf="msg.message.message || msg.message.voiceMessage">
            <div
              class="text"
              [class.emphasis]="msg.replyMessage?.message"
              (click)="
                msg.message.senderId === selectedFriendId
                  ? replyMessage(msg)
                  : null
              "
            >
              <b>{{
                msg.replyMessage?.message
                  ? msg.replyMessage.message
                  : msg.message.message
              }}</b>
              <ng-container *ngIf="msg.replyMessage?.message">
                <hr />
                <i>
                  {{
                    msg.message.senderId === selectedFriendId
                      ? userProfile.displayName + ' írta'
                      : 'Válaszoltál neki: ' + selectedFriend.displayName
                  }}
                </i>
                <div class="reply-footer">
                  <span class="msg-span">{{ msg.message.message }}</span>
                  <img
                    [src]="
                      msg.message.senderId === selectedFriendId
                        ? userProfile.profilePicture
                        : selectedFriend.profilePicture
                    "
                    alt=""
                    class="reply-avatar"
                  />
                </div>
              </ng-container>

              <div class="audio" *ngIf="msg.message.voiceMessage">
                <audio [src]="msg.message.voiceMessage" controls></audio>
              </div>
            </div>
          </ng-container>

          <!-- reakciók -->
          <div class="reactions">
            <button
              *ngIf="msg.message.senderId !== userProfile.uid"
              mat-icon-button
              [matMenuTriggerFor]="reactMenu"
            >
              <mat-icon>add_reaction</mat-icon>
            </button>
            <mat-menu #reactMenu="matMenu">
              <button
                *ngFor="let reaction of reactions"
                mat-menu-item
                (click)="setReactionForMsg(msg, reaction)"
              >
                <span>{{ reaction.reactionName }}</span>
              </button>
            </mat-menu>
            <mat-icon *ngIf="msg.message?.reaction" class="reaction-icon">{{
              msg.message.reaction.reactionIcon
            }}</mat-icon>
          </div>

          <!-- látta jelzés saját üzenetnél -->
          <div
            class="seen"
            *ngIf="msg.message.senderId === userProfile.uid && msg.message.seen"
          >
            látta <img [src]="selectedFriend.profilePicture" alt="" />
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Komponáló sáv -->
  <div class="composer" [class.expanded]="messageButtonClicked">
    <button
      mat-icon-button
      class="attach"
      (click)="!uploadFinished ? uploadFiles() : null"
      [disabled]="
        disabled || message.message.voiceMessage === 'recording-started'
      "
    >
      <label *ngIf="filesArr?.length" for="fileUpload"
        ><mat-icon>check</mat-icon></label
      >
      <label *ngIf="!uploadFinished" for="fileUpload"
        ><mat-icon>upload</mat-icon></label
      >
      <label *ngIf="uploadFinished && !filesArr?.length" for="picUploadInput"
        ><mat-icon>attach_file</mat-icon></label
      >
      <input
        *ngIf="uploadFinished"
        (change)="uploadFinished ? selectedFs($event) : ''"
        id="picUploadInput"
        multiple
        type="file"
      />
    </button>

    <textarea
      class="input"
      rows="1"
      [(ngModel)]="message.message.message"
      (keydown.enter)="$event.preventDefault(); addMessage()"
      [disabled]="message.message.voiceMessage !== undefined"
      [placeholder]="
        message.message.voiceMessage && !audioStream
          ? 'Felvetel Rogzitve'
          : 'Üzenet írása...'
      "
    ></textarea>

    <button
      mat-icon-button
      class="mic"
      [disabled]="selectedFiles.length > 0 || filesArr.length > 0"
      (click)="
        message.message.voiceMessage !== 'recording-started'
          ? recordVoiceMessage()
          : stopRecordingVoiceMessage()
      "
    >
      <mat-icon>{{
        message.message.voiceMessage !== 'recording-started' ? 'mic' : 'mic_off'
      }}</mat-icon>
    </button>

    <button
      mat-fab
      class="send"
      color="primary"
      (click)="addMessage()"
      [disabled]="uploadFinished === false || audioStream"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
