// COLOR VARIABLES
$color-primary: #721385;
$color-secondary: #af4ca2;

$color-light: #f3f4f6;
$color-dark: #1f2937;

$color-light-gray: #d1d5db;
$color-dark-gray: #4b5563;

$color-light-green: #4caf50;
$color-dark-green: #087f23;
// robothoz jo szin?
$color-robot: #6b8e23;

$color-light-orange: #fb923c;
$color-dark-orange: #b45309;

$color-light-blue: #3b82f6;
$color-dark-blue: #062563;
