@if(name) {
<ng-container>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ friendName }}
    </h5>
    <button
      (click)="activeModal.dismiss('Cross-click')"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ name }}</p>
  </div>
  <div class="modal-footer">
    <button
      (click)="activeModal.close('Close click')"
      type="button"
      class="btn btn-secondary green"
      data-bs-dismiss="modal"
    >
      <span class="icons"
        ><mat-icon>
          {{ 'done' }}
        </mat-icon></span
      >
    </button>
  </div>
</ng-container>
} @if(userName) {
<ng-container>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ userName }}
    </h5>
  </div>
  <div class="modal-body">
    <h3>Biztos, hogy törölni akarod {{ userName }}-t?</h3>
  </div>
  <div class="modal-footer">
    <button
      (click)="deleteUser(); activeModal.close()"
      type="button"
      class="btn btn-danger"
      data-bs-dismiss="modal"
    >
      <span class="text-white align-middle"
        >Igen
        <mat-icon class="text-white align-middle">
          {{ 'done' }}
        </mat-icon></span
      >
    </button>
    <button
      (click)="activeModal.dismiss('Modal bezárva')"
      type="button"
      class="btn btn-secondary green"
      data-bs-dismiss="modal"
    >
      Nem <mat-icon class="align-middle">cancel</mat-icon>
    </button>
  </div>
</ng-container>
} @if(userEmail) {
<ng-container>
  <div class="modal-body">
    <h3>
      Megerősítő e-mail sikeresen elküldve a megadott e-mail-címre:
      <span class="email">{{ userEmail }}</span
      >,
      <b> kattints a benne levő linkre az e-mail címed megerősítéséhez. </b> Az
      e-mail címed megerősítése után tudsz sikeresen bejelentkezni.
    </h3>
  </div>
  <div class="modal-footer">
    <button
      (click)="activeModal.close('Modal bezárva')"
      data-bs-dismiss="modal"
      type="button"
      class="btn btn-secondary green"
    >
      Rendben <mat-icon class="align-middle">done</mat-icon>
    </button>
  </div>
</ng-container>
} @if(likedPeople.length) {
<ng-container>
  <div class="modal-header">
    <h4 class="modal-title">
      <mat-icon class="text-secondary align-middle me-2">people</mat-icon
      ><b>Emberek, akiknek tetszik a bejegyzés</b>
    </h4>
  </div>
  <div class="modal-body">
    @for(person of likedPeople; track person){
    <h3>
      <mat-icon class="text-primary align-middle me-2">thumb_up</mat-icon
      >{{ person.displayName }}
    </h3>
    }
  </div>
  <div class="modal-footer">
    <button
      (click)="activeModal.close()"
      type="button"
      class="btn btn-success"
      data-bs-dismiss="modal"
    >
      <span class="text-white align-middle"
        >Oké
        <mat-icon class="text-white align-middle">
          {{ 'done' }}
        </mat-icon></span
      >
    </button>
  </div>
</ng-container>
} @if(error?.message){
<ng-container>
  <div class="modal-header">
    <h4 class="modal-title">
      <mat-icon class="text-warning align-middle me-2">error</mat-icon
      ><b>{{ error.message }}</b>
    </h4>
  </div>
  <div class="modal-footer">
    <button
      (click)="activeModal.close()"
      type="button"
      class="btn btn-success"
      data-bs-dismiss="modal"
    >
      <span class="text-white align-middle"
        >Oké
        <mat-icon class="text-white align-middle">
          {{ 'done' }}
        </mat-icon></span
      >
    </button>
  </div>
</ng-container>
} @if(post?.id && !isSelectFriend) {
<ng-container>
  <div class="modal-header">
    <h4 class="modal-title">
      <img
        [src]="user?.profilePicture"
        width="25px"
        height="25px"
        class="text-secondary align-middle me-2 rounded-circle"
      />
      <b>{{ user?.displayName }}</b>
    </h4>
  </div>
  <div class="modal-body">
    <form>
      <select
        #whereToShareSelect
        (change)="onOptionSelected($event)"
        name="where-to-share"
        class="form-select"
        id="where-to-share"
        [(ngModel)]="selectedValue"
      >
        @for(option of options; track option.value) {
        <option [value]="option.value">
          {{ option.label }}
        </option>
        } @if(selectedFriend?.displayName) {
        <option value="friend">
          {{ selectedFriend?.displayName }}
        </option>

        }
      </select>
    </form>
  </div>
  <div class="modal-footer">
    <button
      (click)="
        !isNewsSharing && this.selectedFriend
          ? sharePostOnFriendProfile()
          : sharePostPublicly()
      "
      type="button"
      class="btn btn-success"
      data-bs-dismiss="modal"
      [disabled]="!selectedFriend && !isNewsSharing"
    >
      <span class="text-white align-middle"
        >Megosztás most
        <mat-icon class="text-white align-middle">
          {{ 'reply' }}
        </mat-icon></span
      >
    </button>
  </div>
</ng-container>
} @if(isSelectFriend) {
<div>
  <div class="modal-body select-friends-modal">
    <h2>
      <mat-icon (click)="backToOptions()" class="align-middle me-2"
        >arrow_back</mat-icon
      >
      Ismerős választása
    </h2>
    @for(fr of userFriends; track fr){
    <h3 (click)="chooseFriend(fr)" class="friend-h3">
      <mat-icon
        style="width: fit-content; height: fit-content"
        class="align-middle me-2 d-inline-flex"
        ><img
          width="50px"
          height="50px"
          [src]="fr.profilePicture"
          alt="Profilkép"
        /> </mat-icon
      >{{ fr.displayName }}
    </h3>
    }
  </div>
</div>
} @if(!isSubscribedToNotif) {
<ng-container>
  <div class="modal-body notif-main-container">
    <h2 class="text-center">
      <mat-icon (click)="back()" class="align-middle me-2">arrow_back</mat-icon>
      Szeretnél feliratkozni az értesítésekre a neked küldött üzenetekről?
      (Bármikor módosítható)
    </h2>
    <h3 class="friend-h3 notification">
      <mat-icon
        style="width: fit-content; height: fit-content"
        class="align-middle me-2 d-inline-flex"
        >notifications</mat-icon
      >
      <button
        (click)="subscribeOrUnsubToNotifications()"
        class="me-2"
        color="primary"
        mat-raised-button
      >
        Igen
      </button>
      <button (click)="back()" class="bg-warning" mat-raised-button>Nem</button>
    </h3>
  </div>
</ng-container>
} @if(isWantToUnsub) {
<ng-container>
  <div class="modal-body notif-main-container">
    <h2 class="text-center">
      <mat-icon (click)="back()" class="align-middle me-2">arrow_back</mat-icon>
      Biztos, hogy szeretnél leiratkozni az értesítésekről? (Nem fogsz
      értesítést kapni a neked küldött üzenetekről)
    </h2>
    <h3 class="friend-h3 notification">
      <mat-icon
        style="width: fit-content; height: fit-content"
        class="align-middle me-2 d-inline-flex"
        >notifications_off</mat-icon
      >
      <button
        (click)="subscribeOrUnsubToNotifications()"
        class="me-2"
        color="primary"
        mat-raised-button
      >
        Igen
      </button>
      <button (click)="back()" class="bg-warning" mat-raised-button>Nem</button>
    </h3>
  </div>
</ng-container>
}
