<ng-container *ngIf="userLoggedIn && userProfile.displayName">
  <div class="row">
    <div
      class="toast-column col-12 mb-2 d-flex justify-content-center align-items-center"
    >
      <ngb-toast
        #toast
        class="tooltipTarget2 d-grid justify-content-center text-center"
        [autohide]="false"
        header="Chatelj az ismerőseiddel"
      >
        <button
          class="blueButton"
          positionTarget=".tooltipTarget2"
          ngbTooltip="Egy chat-app, ahol felhőtlen a beszélgetés!"
          [routerLink]="
            userProfile?.displayName ? '/chat' : '/chat/' + userProfile.uid
          "
          mat-raised-button
          color="accent"
          type="button"
        >
          <span class="icons"><mat-icon>chat</mat-icon></span>
          <h3 class="d-inline">Chat indítása</h3>
          <span class="icons"><mat-icon>groups</mat-icon></span>
        </button>
      </ngb-toast>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!userLoggedIn">
  <div
    class="toast-column toast-col row justify-content-center align-items-center"
  >
    <div class="col-12 col-md-6 col-lg-3 mb-2 d-flex justify-content-center">
      <ngb-toast
        class="tooltipTarget5 d-grid justify-content-center text-center"
        [autohide]="false"
        header="Regisztráció"
      >
        <button
          class="greenButton"
          positionTarget=".tooltipTarget5"
          ngbTooltip="Regisztrálj e-mail címmel, vagy lépj be egy gombnyomásra Google-fiókkal"
          routerLink="/signup"
          mat-raised-button
          color="accent"
          type="button"
        >
          <mat-icon class="align-middle">notes</mat-icon>
          <h3 class="d-inline">Regisztráció</h3>
        </button>
      </ngb-toast>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-2 d-flex justify-content-center">
      <ngb-toast
        class="tooltipTarget6 d-grid justify-content-center text-center"
        [autohide]="false"
        header="Bejelentkezés"
      >
        <button
          class="loginButton"
          positionTarget=".tooltipTarget6"
          ngbTooltip="Lépj be e-mail címeddel, vagy Google-fiókoddal, vagy telefonszámoddal egyszerűen  "
          routerLink="/login"
          mat-raised-button
          color="accent"
          type="button"
        >
          <mat-icon class="align-middle">person</mat-icon>
          <h3 class="d-inline">Bejelentkezés</h3>
        </button>
      </ngb-toast>
    </div>
  </div>
</ng-container>
