.icons {
  position: relative;
  top: 5px;
  margin-right: 9px;
  margin-left: 9px;
}

.tooltippp .tooltip-inner {
  background-color: darkgreen;
  font-size: 125%;
}

.greenButton {
  background-color: rgba(45, 117, 45, 0.7) !important;
}

.blueButton {
  margin-top: 5%;
  background-color: rgba(15, 15, 180, 0.7) !important;
  h3 {
    font-size: 1.5rem;
  }
  span {
    font-size: 1.5rem;
  }
}
.loginButton {
  background-color: rgba(15, 15, 180, 0.7) !important;
}

.orangeButton {
  background-color: rgba(201, 137, 19, 0.7) !important;
}

.toast-column {
  height: 100vh;
}

.toast-header-manual {
  position: relative;
  width: 80vw;
  height: 30vh;
  background: rgba(221, 221, 230, 0.1);
}

.toast-strong {
  border-top: 7px solid;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, rgb(213, 177, 56), rgb(200, 0, 255));
  border-image-slice: 1;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  width: fit-content;
  text-align: center !important;
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgb(83, 122, 167);
  margin-right: 30px;
}

.tooltipTarget2 {
  width: 80vw;
  height: 30vh;
  display: grid;
  align-items: center;
  background-image: url('https://img.freepik.com/free-photo/smiling-beautiful-girl-her-handsome-boyfriend-casual-summer-clothes-showing-peace-sign_158538-5380.jpg?t=st=1715183132~exp=1715186732~hmac=6939e4a919058c4c7cc28081b9a4fa8fe56c3d419eb73160b9984178bcd71174&w=1380');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.btn-close {
  display: none;
}

@media screen and (max-width: 500px) {
  .blueButton {
    margin-top: 35%;
  }
  .toast-strong {
    top: -150px;
    width: 100%;
  }
}
@media screen and (max-width: 355px) {
  .blueButton {
    h3 {
      font-size: 1rem;
    }
    span {
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .toast-col {
    height: auto !important;
  }
}
