
.icons {
    position: relative;
    top: 5px;
    margin-right: 9px;
    margin-left: 9px;
}


.tooltippp .tooltip-inner {
    background-color: darkgreen;
    font-size: 125%;
}

.greenButton {
    background-color: rgba(45, 117, 45, 0.7) !important;
}

.blueButton {
    background-color: rgba(15, 15, 180, 0.7) !important;
}

.orangeButton {
    background-color: rgba(201, 137, 19, 0.7) !important;
}

.toast-column {
    height: 100vh;
}