<form class="mt-3" (ngSubmit)="onSubmit()" [formGroup]="recipeForm" #f="ngForm">
    <mat-form-field>
        <mat-label>Recept neve</mat-label>
        <mat-icon matSuffix>menu_book</mat-icon>
        <input formControlName="name" matInput type="text">
        <span *ngIf="!recipeForm.get('name')?.valid && recipeForm.get('name')?.touched">Kerem adjon meg egy recept nevet!</span>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Hozzávalók</mat-label>
        <textarea formControlName="ingredients" matInput rows="5"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Elkészités</mat-label>
        <textarea formControlName="howToMake" matInput rows="5"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Elkészitési idő</mat-label>
        <mat-icon matSuffix>schedule</mat-icon>
        <input formControlName="timeToMake" matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Adag</mat-label>
        <mat-icon matSuffix>restaurant</mat-icon>
        <input formControlName="portion" matInput type="number">
    </mat-form-field>
        <mat-form-field class="select-container">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-label>Nehezseg</mat-label>
            <mat-select formControlName="difficulty"  id="difficulty">
                <mat-option ngClass="green" value="konnyu">Konnyu</mat-option>
                <mat-option ngClass="yellow" value="kozepes">Kozepes</mat-option>
                <mat-option ngClass="red" value="nehez">Nehez</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="!recipeForm.valid && recipeForm.touched" class="text-center border border-danger">
            <mat-label></mat-label>
            <span class="text-danger">Kerem adjon meg valos adatokat!</span>
            <input matInput disabled>
            
        </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Fénykép Url</mat-label>
        <input formControlName="photo" matInput type="text">
    </mat-form-field> -->
    <button mat-button [disabled]="!f.valid" type="submit">{{submitButtonValue}}</button>
</form>