<div class="container">
  <div class="modal-header">
    <button
      (click)="activeModal.dismiss('Cross-click')"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body text-center">
    @if(picturesArr.length || profPicsArr.length){
    <div
      class="d-flex flex-wrap justify-content-center align-items-center tape"
    >
      <div class="left ms-2">
        @if(viewIndex > 0){
        <span (click)="left()"><</span>
        }
      </div>
      <img
        [ngClass]="{ 'fade-in': fadeIn }"
        class="me-1 rounded flex-grow-1"
        [src]="picturesArr[viewIndex]?.url || profPicsArr[viewIndex]"
        alt="Kép"
      />
      <div class="right">
        @if(viewIndex < picturesArr.length - 1 || viewIndex < profPicsArr.length
        - 1) {
        <span (click)="right()">></span>
        }
      </div>
    </div>
    } @if(uploadTrue){
    <h4>Sikeres feltöltés, küldéshez kattints a küldés gombra!</h4>
    } @if(picturesUploaded){
    <h4>Sikeres feltöltés!</h4>
    }
  </div>
  <div class="modal-footer">
    @if(uploadTrue || picturesUploaded){
    <button
      (click)="activeModal.close('Modal bezárva')"
      data-bs-dismiss="modal"
      type="button"
      class="btn btn-secondary green"
    >
      Rendben <mat-icon class="align-middle">done</mat-icon>
    </button>
    }
  </div>
</div>
