.modal-body {
  // min-height: 80vh;
  justify-content: center;
  display: flex;
  img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100vh;
  }
  height: 100vh;
}

.tape .left:hover,
.tape .right:hover {
  color: black;
  cursor: pointer;
  background-color: rgba(43, 148, 27, 0.8);
}

.tape .left {
  position: absolute;
  left: 6px;
  border-radius: 3px;
  display: flex;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgba(26, 102, 15, 0.5),
    rgba(233, 245, 66, 0.5)
  );
  margin-right: 5px;
}
.tape .right {
  position: absolute;
  right: 12px;
  border-radius: 3px;
  display: flex;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgba(26, 102, 15, 0.5),
    rgba(233, 245, 66, 0.5)
  );
  margin-right: 5px;
}
.tape .left span,
.tape .right span {
  color: rgba(253, 252, 252, 1);
  font-size: 50px;
}

.tape .left span:hover,
.tape .right span:hover {
  color: rgba(253, 252, 252, 1);
  font-size: 50px;
}

.fade-in {
  animation: fadeInAnimation 1s ease-in;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
