<!-- <div class="row justify-content-center">
  <div class="col-12 col-md-7 col-lg-8 col-xl-8"> -->
<div class="d-flex flex-wrap justify-content-center">
  <form
    class="d-flex flex-column flex-wrap justify-content-center"
    (ngSubmit)="saveProfile()"
    #f="ngForm"
  >
    <mat-vertical-stepper
      [animationDuration]="'2000'"
      style="width: 90vw"
      linear
    >
      <mat-step [stepControl]="f.form.value" label="Alapadatok">
        <mat-form-field class="me-2">
          <mat-label for="email">Email</mat-label>
          <input
            matInput
            [(ngModel)]="userProf.email"
            type="email"
            name="email"
            email
            required
            [disabled]="registeredWithPhone === false"
            #emaill="ngModel"
          />
        </mat-form-field>
        <mat-form-field class="me-2">
          <mat-label for="displayName">Felhasználónév</mat-label>
          <input
            matInput
            [(ngModel)]="userProf.displayName"
            type="text"
            name="displayName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="birthDate">Születési idő</mat-label>
          <input
            matInput
            [(ngModel)]="userProf['birthDate']"
            type="date"
            name="birthDate"
            required
          />
        </mat-form-field>
        <div *ngFor="let gender of genders">
          <label>
            <input
              [(ngModel)]="userProf['gender']"
              ngModel
              [value]="gender"
              type="radio"
              name="gender"
              id="gender"
              required
            />
            {{ gender }}
          </label>
        </div>
        <div class="d-flex justify-content-end">
          <button color="primary" mat-flat-button matStepperNext type="button">
            Következő
          </button>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="f.form.value"
        label="Töltsd fel a profilképed (Opcionális)"
      >
        <div class="mt-2">
          <button class="btn btn-warning fileButton" type="button">
            <mat-icon class="align-middle">attach_file</mat-icon>
            <label for="profilePicture">Profilkép kiválasztása</label>
            <input
              id="profilePicture"
              (change)="selectFile($event)"
              class="form-control picUploadInput"
              [(ngModel)]="profilePhoto"
              type="file"
              name="profilePicture"
            />
          </button>
          <button
            [disabled]="!profilePhoto"
            (click)="
              userProf.profilePicture ? changeProfilePic() : addProfilePic()
            "
            type="button"
            class="btn btn-success ms-1"
          >
            <mat-icon class="align-middle">upload</mat-icon>
            Profilkép Feltöltése
          </button>
        </div>
        <div class="text-primary mt-1" *ngIf="profilePhoto">
          {{ profilePhoto.name }}
        </div>
        <div
          *ngIf="profilePhoto && percent && percent < 100"
          class="progress mt-2 progressC"
          style="height: 50px; width: 100%"
        >
          <div
            [style]="{ width: percent + '%' }"
            class="progress-bar progressC"
            role="progressbar"
            [attr.aria-valuenow]="percent"
            [attr.aria-valuemin]="percent"
            aria-valuemax="100"
          >
            <h4 class="pt-2">{{ percent }}%</h4>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div
            *ngIf="percent === 0 || pictures; else newPic"
            class="col-12 d-flex justify-content-center align-items-center"
            style="height: 40vh"
          >
            <img
              width="100%"
              height="100%"
              class="rounded"
              [src]="userProf.profilePicture"
              [alt]="userProf.profilePicture"
            />
          </div>
        </div>
        <ng-template #newPic>
          <div class="d-grid justify-content-center">
            <div class="profilePicContainer">
              <img [src]="profilePhotoUrl" alt="Profilkep" />
            </div>
          </div>
        </ng-template>
        <div class="d-flex mt-2 justify-content-between">
          <button
            mat-flat-button
            color="accent"
            matStepperPrevious
            type="button"
          >
            Vissza
          </button>
          <button mat-flat-button color="primary" matStepperNext type="button">
            Következő
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Kész</ng-template>
        <h3>
          Már készen is vagyunk. Kattints a profil mentése gombra és
          megkezdheted a csevegést.
        </h3>
        <div class="d-flex justify-content-between">
          <button
            class="me-2"
            mat-flat-button
            color="accent"
            matStepperPrevious
            type="button"
          >
            Vissza
          </button>
          <button
            [disabled]="!f.valid"
            color="primary"
            mat-raised-button
            type="submit"
          >
            Profil mentése
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
<!-- <div  *ngIf="userPictures.length > 0" [attr.data-bs-interval]="false" id="picturesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div  class="carousel-indicators">
              <button *ngFor="let pic of userPictures; let i = index" type="button" [attr.data-bs-target]="'#picturesCarousel'" [attr.data-bs-slide-to]="i" [class.active]="i === 0" attr.aria-label="Slide {{i + 1}}"></button>
            </div>
            <div  class="carousel-inner">
              <div style="height: 70vh;" *ngFor="let pic of userPictures; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
                
                  <mat-icon (click)="deletePicture(pic)" class="deletePicture">delete_forever</mat-icon>
                
                <img style="width: 100%; max-height: 70vh;" [src]="pic.url" class="d-block rounded position-absolute top-50 start-50 translate-middle" [alt]="pic.url">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#picturesCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#picturesCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>



      <button [disabled]="!f.valid" class="mt-2" color="accent" mat-raised-button type="submit">
        Profil mentése
      </button>
      <button [disabled]="!userBirthDate" routerLink="/chat" class="greenButton mt-1" mat-raised-button type="button">
        Vissza
      </button> -->
<!-- </form> -->
<!-- </div>
</div> -->
