.profilePicContainer{

    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    width: 100vw;
    height: 25vh;
    img{
        height: 25vh;
        width: 25vw;
        border-radius: 50%;
    }
}

.progressC {
    background-color: rgba(32, 32, 129, 0.6) !important;
}