<div class="row">
  <div class="col">
    <form
      class="d-grid"
      *ngFor="let uprof of userProfile"
      (ngSubmit)="saveProfile()"
      #f="ngForm"
    >
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input
          matInput
          [(ngModel)]="uprof.email"
          type="email"
          name="email"
          email
          required
          #emaill="ngModel"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="displayName">Felhasználónév</mat-label>
        <input
          matInput
          [(ngModel)]="uprof.displayName"
          type="text"
          name="displayName"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="birthDate">Születési idő</mat-label>
        <input
          matInput
          [(ngModel)]="uprof['birthDate']"
          type="date"
          name="birthDate"
          required
        />
      </mat-form-field>

      <!-- <mat-form-field *ngIf="!uprof['birthDate']">
                        <mat-label for="birthDate">Születési idő</mat-label>
                        <input  matInput [(ngModel)]="user['birthDate']" type="date" name="birthDate"  required >
                    </mat-form-field>
                -->
      <div *ngFor="let gender of genders">
        <label>
          <input
            [(ngModel)]="uprof['gender']"
            ngModel
            [value]="gender"
            type="radio"
            name="gender"
            id="gender"
            required
          />
          {{ gender }}
        </label>
      </div>

      <div class="input-group mt-2">
        <label id="profilePicture" class="form-label" for="profilePicture"
          >Profilkép:</label
        >
        <input
          id="profilePicture"
          (change)="selectFile($event)"
          class="form-control"
          [(ngModel)]="profilePhoto"
          type="file"
          name="profilePicture"
          [required]="!uprof.profilePicture"
        />
        <button
          (click)="uprof.profilePicture ? changeProfilePic() : addProfilePic()"
          type="button"
          class="btn btn-primary"
        >
          {{ "Profilkép Feltöltése" }}
        </button>
        <!-- <mat-progress-bar mode="determinate" [value]="percent"></mat-progress-bar> -->
      </div>

      <div
        *ngIf="percent > 0"
        class="progress mt-2 progressC"
        style="height: 50px; width: 100%"
      >
        <div
          [style]="{ width: percent + '%' }"
          class="progress-bar progressC"
          role="progressbar"
          [attr.aria-valuenow]="percent"
          [attr.aria-valuemin]="percent"
          aria-valuemax="100"
        >
          <h4 class="pt-2">{{ percent }}%</h4>
        </div>
      </div>

      <!-- <div *ngIf="percent>0" class="row justify-content-center mt-2">
        <mat-progress-spinner [value]="percent" mode="determinate"></mat-progress-spinner>
      </div> -->

      <div *ngIf="percent === 0; else newPic" class="profilePicContainer">
        <img [src]="uprof.profilePicture" [alt]="uprof.profilePicture" />
      </div>

      <ng-template #newPic>
        <div class="profilePicContainer">
          <img [src]="profilePhotoUrl" alt="Profilkep" />
        </div>
      </ng-template>

      <button
        [disabled]="!f.valid"
        color="accent"
        mat-raised-button
        type="submit"
      >
        Adatok mentése
      </button>
    </form>
  </div>
</div>
