.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 0 20px;
  background-color: rgb(74, 74, 207, 0.5);
}

form {
  display: grid;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.span-div {
  width: fit-content;
}
