@use '../../../styles/styles' as *;

.main__bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(120deg, #1e3a8a 0%, #2563eb 100%);
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid #ddd;
  flex-basis: 100%;
  // z-index: 1000;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-light;

    transition: color 0.3s ease-in-out;
    flex-grow: 1;
    border: none;
    background: none;

    mat-icon {
      font-size: 2.4rem;
    }

    span {
      display: inline-flex;
      font-size: 1.6rem;
      margin-top: 0.2rem;
    }

    &.active {
      color: rgba(255, 255, 255, 0.829);
      font-weight: 500;
    }
  }
}
