.example-card {
  width: 100vw;
}

.example-header-image {
  background-size: cover;
}

.tape .left:hover,
.tape .right:hover {
  color: black;
  cursor: pointer;
  background-color: rgba(43, 148, 27, 0.8);
}

.tape .left,
.tape .right {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgba(26, 102, 15, 0.5);
  margin-right: 5px;
}
.tape .left span,
.tape .right span {
  color: white;
  font-size: 50px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.user-name-cell {
  cursor: pointer;
}
.user-name-cell:hover {
  background: grey;
}
