<ng-container *ngIf="!isNavDisappeared">
  <p>
    <mat-toolbar
      class="justify-content-center"
      [ngClass]="isMenuClicked ? 'matToolbarHeight' : ''"
      color="primary"
    >
      <div class="columnDisp">
        <div class="text-center">
          <span>Menü</span
          ><button
            mat-icon-button
            (click)="isMenuClicked = !isMenuClicked"
            type="button"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <mat-icon class="align-middle">menu</mat-icon>
          </button>
        </div>
      </div>
      <!-- <span class="spacer"></span> -->

      <div
        [ngbCollapse]="isMenuClicked"
        class="justify-content-center"
        [ngClass]="[isMenuClicked ? 'columnDisp' : 'flexDisp']"
      >
        <span
          (click)="isMenuClicked = false"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/home"
          routerLinkActive="active-link"
          class="navbar-brand nav-link me-3"
        >
          <mat-icon class="bi bi-house-fill"></mat-icon>
          Kezdőlap
        </span>

        <span
          *ngIf="isSuperAdmin || user.claims?.admin"
          (click)="navDisappear()"
          routerLink="/admin"
          class="nav-link me-3"
          routerLinkActive="active-link"
        >
          Admin
        </span>

        <span
          *ngIf="isSuperAdmin || user.claims?.admin"
          (click)="navDisappear()"
          routerLink="/users"
          class="nav-link me-3"
          routerLinkActive="active-link"
        >
          Felhasználók
        </span>

        <span
          (click)="isMenuClicked = false"
          *ngIf="user.uid && user?.displayName"
          class="nav-link me-3"
          routerLinkActive="active-link"
          [routerLink]="
            userProfile?.displayName ? '/chat' : '/chat/' + user.uid
          "
          >Chat
        </span>

        <span
          *ngIf="!user.uid"
          (click)="isMenuClicked = false"
          class="nav-link me-3"
          routerLink="/signup"
          routerLinkActive="active-link"
        >
          Regisztráció
        </span>

        <span
          *ngIf="!user.uid"
          (click)="isMenuClicked = false"
          class="nav-link me-3"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/login"
          >Bejelentkezés
        </span>

        <span
          *ngIf="user.uid"
          class="nav-link me-3 sign-out"
          routerLink=""
          (click)="signOut()"
          >Kijelentkezés
        </span>

        <div class="notiFlexDiv">
          <span
            *ngIf="user.uid && !isMenuClicked"
            class="text-center me-3 notiFlex"
            [matBadge]="allNotifications"
            matBadgeColor="warn"
            (click)="rOutletOn()"
            ><mat-icon [ngClass]="[allNotifications === 0 ? 'noNoti' : '']"
              >notifications</mat-icon
            ></span
          >
        </div>
      </div>

      <span
        *ngIf="user.uid"
        class="text-center noti"
        [ngClass]="[allNotifications === 0 ? 'noNoti' : '']"
        [matBadge]="allNotifications"
        matBadgeColor="warn"
        (click)="rOutletOn()"
        ><mat-icon>notifications</mat-icon></span
      >
      <div *ngIf="user.uid && userProfile" class="ms-1 mt-1 d-flex">
        <img
          class="rounded-circle"
          width="50px"
          height="50px"
          [src]="userProfile.profilePicture"
          alt="Profilkép"
        />
        <p
          style="line-height: 17px; font-size: x-small"
          class="pt-2 ms-2 signedInAs"
        >
          Bejelenkezve, mint <br /><b>{{ userProfile.displayName }}</b>
        </p>
      </div>
    </mat-toolbar>
  </p>
</ng-container>

<app-notifications
  (allNotifications)="allNotifications = $event"
  [sideNavToggle]="sideNavToggle"
  (compOfNoti)="compOfNoti = $event"
  [toVisitedMeOn]="compOfNoti"
  (sideNavToggleToNav)="sideNavToggle = $event"
></app-notifications>
