<ng-container *ngIf="!isNavDisappeared">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top">
    <div  class="container-fluid text-center justify-content-center">
      <!-- <div class="row"> -->
        <div>
          <button (click)="isMenuClicked = !isMenuClicked" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>Menu </span><span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div [ngbCollapse]="!isMenuClicked" class="collapse navbar-collapse">
      <!-- <div class="col-12 col-md-6 col-lg-6 col-xl-6 my-2"> -->

      <!-- </div> -->
      <!-- <div class="col-12 col-md-6 col-lg-6 col-xl-6 my-2"> -->

      <!-- </div> -->
    <!-- </div> -->
  
      <ul [ngClass]="{'mt-3':isMenuClicked}" class="navbar-nav h5">
        <li (click)="isMenuClicked = !isMenuClicked" class="nav-item text-center">
          <a [routerLinkActiveOptions]="{exact:true}" routerLink="" routerLinkActive="active-link"  class="navbar-brand nav-link">
            <span class="bi bi-house-fill"></span>
            Kezdőlap</a
          >
        </li>
        <li class="nav-item">
          <a (click)="navDisappear()" *ngIf="isSuperAdmin" routerLink="users" class="nav-link" routerLinkActive="active-link">
            <span>Felhasználók</span>
          </a>
        </li>
        <li (click)="isMenuClicked = !isMenuClicked" *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="weather"
            >Időjárás</a
          >
        </li>
        <li (click)="isMenuClicked = !isMenuClicked" *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="chat"
            >Chat</a
          >
        </li>
        <li (click)="isMenuClicked = !isMenuClicked" *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['recipes']"
            >Receptek</a
          >
        </li>
        <li (click)="isMenuClicked = !isMenuClicked" *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="notes"
            >Jegyzetek</a
          >
        </li>
        <li *ngIf="!isLoggedIn" (click)="isMenuClicked = !isMenuClicked" class="nav-item">
          <a class="nav-link" routerLink="signup" routerLinkActive="active-link">
            Regisztráció
          </a>
        </li>
        <li *ngIf="!isLoggedIn" (click)="isMenuClicked = !isMenuClicked" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/login"
            >Bejelentkezés</a
          >
        </li>
        <li (click)="isMenuClicked = !isMenuClicked" *ngIf="isLoggedIn" class="nav-item">
          <a
            class="nav-link sign-out"
  
            routerLink=""
  
            (click)="signOut()"
            >Kijelentkezés
          </a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</ng-container>
