<ng-container *ngIf="!isNavDisappeared">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        <button mat-icon-button class="menu-button" (click)="isMenuClicked = !isMenuClicked">
          <mat-icon>{{ isMenuClicked ? 'close' : 'menu' }}</mat-icon>
        </button>
      </div>

      <div class="navbar-menu" [ngClass]="{'is-active': isMenuClicked}">
        <div class="navbar-start">
          <a class="navbar-item" 
             routerLink="/home" 
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="isMenuClicked = false">
            <mat-icon>home</mat-icon>
            <span>Kezdőlap</span>
          </a>

          <a class="navbar-item" 
             *ngIf="isSuperAdmin || user.claims?.admin"
             routerLink="/admin"
             routerLinkActive="active-link"
             (click)="navDisappear()">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin</span>
          </a>

          <a class="navbar-item" 
             *ngIf="isSuperAdmin || user.claims?.admin || user?.email === 'kalmaristvan078@gmail.com'"
             routerLink="/users"
             routerLinkActive="active-link"
             (click)="navDisappear()">
            <mat-icon>people</mat-icon>
            <span>Felhasználók</span>
          </a>

          <a class="navbar-item" 
             *ngIf="user.uid && user?.displayName"
             [routerLink]="userProfile?.displayName ? '/chat' : '/chat/' + user.uid"
             routerLinkActive="active-link"
             (click)="isMenuClicked = false">
            <mat-icon>chat</mat-icon>
            <span>Chat</span>
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <ng-container *ngIf="!user.uid">
                <a class="button is-primary" routerLink="/signup" (click)="isMenuClicked = false">
                  <mat-icon>person_add</mat-icon>
                  <span>Regisztráció</span>
                </a>
                <a class="button is-light" routerLink="/login" (click)="isMenuClicked = false">
                  <mat-icon>login</mat-icon>
                  <span>Bejelentkezés</span>
                </a>
              </ng-container>

              <ng-container *ngIf="user.uid">
                <button class="button is-light notification-button" 
                        [matBadge]="allNotifications" 
                        matBadgeColor="warn"
                        (click)="rOutletOn()">
                  <mat-icon [ngClass]="{'no-notification': allNotifications === 0}">notifications</mat-icon>
                </button>

                <div class="user-profile">
                  <img class="profile-picture" 
                       [src]="userProfile.profilePicture" 
                       alt="Profilkép"
                       (click)="showProfPics()">
                  <div class="user-info">
                    <span class="username">{{ userProfile.displayName }}</span>
                    <button class="button is-text sign-out" (click)="signOut()">
                      <mat-icon>logout</mat-icon>
                      <span>Kijelentkezés</span>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</ng-container>

<app-notifications
  (allNotifications)="allNotifications = $event"
  [sideNavToggle]="sideNavToggle"
  (compOfNoti)="compOfNoti = $event"
  [toVisitedMeOn]="compOfNoti"
  (sideNavToggleToNav)="sideNavToggle = $event">
</app-notifications>
