.active-link{
    color: white;
    background-color: rgba(131, 150, 131, 0.5);
    height: fit-content;
}
.sign-out{
    color: rgb(27, 27, 25);
    background-color: rgba(56, 61, 60, 0.3);
    box-shadow: 5px 5px 5px rgba(32, 30, 30, 0.5);
}
.nav-item{
    height: fit-content;
}