.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: rgba(167, 188, 133, 0.5);
  padding: 10px;
}

.container-1 {
  h2 {
    margin-top: 10px !important;
    height: fit-content;
    background-color: rgba(10, 126, 10, 0.7);
    border-radius: 10px;
  }
}

.container-2 {
  height: fit-content;
}

form {
  display: grid;
}

.green {
  background-color: rgba(21, 179, 21, 0.7) !important;
}
