<div class="container-0">
    <h2 matTooltipPosition="left" matTooltip="Kérjük írja be az e-mail címét és használjon egy erős jelszót a sikeres regisztráláshoz.">Regisztráció Email címmel</h2>
</div>
<form (ngSubmit)="createUserWithEmAndPa()" #f="ngForm">
    <mat-form-field>
    <mat-label for="email">Email</mat-label>
     <input matInput [(ngModel)]="email" type="email" name="email" email required #emaill="ngModel">
    </mat-form-field>
    <div class="text-center mt-0 container-2">
        <span *ngIf="!emaill.valid && emaill.touched">Kerlek adj meg egy ervenyes e-mail cimet</span>
        <button class="mb-3" mat-raised-button (click)="emailSuggestion()" type="button">Mutass egy peldat a megfelelo formatumu email cimre!</button>
    </div>
    <mat-form-field>
        
    <mat-label for="password">Jelszó</mat-label>
    <input matInput  [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>

    <div *ngFor="let gender of genders">
        <label>
            <input ngModel [value]="gender"  type="radio" name="genders" id="genders" required>
            {{gender}}
        </label>
    </div>
    
    <button [disabled]="!f.valid" color="accent" mat-raised-button type="submit">Regisztráció</button>
</form>

<div class="container-0 container-1">
    <h2 routerLink="/login" matTooltipPosition="left" matTooltip="Gyorsabb belépés regisztráció nélkül">Vagy lépj be Google fiókkal, vagy telefonszámmal</h2>
</div>


