<div class="main-container">
  <form (ngSubmit)="createUserWithEmAndPa()" #f="ngForm">
    <mat-form-field>
      <mat-label for="email">{{ 'auth.email' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="email"
        type="email"
        name="email"
        email
        required
        #emaill="ngModel"
      />
    </mat-form-field>
    <div class="text-center mt-0 container-2">
      <span *ngIf="!emaill.valid && emaill.touched"
        >Kerlek adj meg egy ervenyes e-mail cimet</span
      >
    </div>
    <mat-form-field>
      <mat-label for="password">{{ 'auth.password' | translate }}</mat-label>
      <input
        #passRef
        matInput
        [(ngModel)]="password"
        type="password"
        name="password"
        required
      />
      <mat-icon
        (click)="
          passRef.type === 'password'
            ? (passRef.type = 'text')
            : (passRef.type = 'password')
        "
        matIconSuffix
        >{{
          passRef.type === 'password' ? 'visibility_off' : 'visibility'
        }}</mat-icon
      >
    </mat-form-field>

    <button
      [disabled]="!f.valid"
      color="accent"
      mat-raised-button
      type="submit"
    >
      {{ 'auth.signup' | translate }}
    </button>
    <h4 class="text-center pt-2 fw-bold mb-0">
      {{ 'auth.otherLoginTypes' | translate }}
    </h4>
    <div class="text-center">
      <button
        class="mt-2 bg-warning me-1"
        mat-icon-button
        routerLink="/login"
        matTooltipPosition="left"
        matTooltip="Gyorsabb belépés regisztráció nélkül"
      >
        <mat-icon>g_mobiledata_badge</mat-icon>
      </button>
      <button
        class="mt-2 bg-success"
        mat-icon-button
        routerLink="/login"
        matTooltipPosition="left"
        matTooltip="Gyorsabb belépés regisztráció nélkül"
      >
        <mat-icon>phone_enabled</mat-icon>
      </button>
    </div>
  </form>
</div>

<div id="registeredModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ 'Sikeres regisztráció' }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary green"
          data-bs-dismiss="modal"
        >
          <span class="icons"
            ><mat-icon>
              {{ 'done' }}
            </mat-icon></span
          >
        </button>
      </div>
    </div>
  </div>
</div>
