#mat-input-3.ng-touched{
    border: 2px solid red;
    background-color: rgba(233, 11, 11,0.7);
}

.blueButton {
    background-color: rgba(5, 5, 228, 0.7) !important;
}

.shareButton {
    background-color: rgba(0, 128, 0, 0.7) !important;
}