<div class="text-center mt-1">
  <button
    *ngIf="!isNewPost"
    (click)="isNewPost = !isNewPost"
    color="primary"
    mat-raised-button
    type="button"
  >
    Új bejegyzés
  </button>
</div>
<form
  *ngIf="isNewPost"
  class="mt-3 d-grid"
  (ngSubmit)="onSubmit()"
  [formGroup]="publishForm"
>
  <mat-form-field>
    <mat-label>Név</mat-label>
    <mat-icon matSuffix>person</mat-icon>
    <input class="text-center" formControlName="name" matInput type="text" />
    <span *ngIf="publishForm.get('name')?.touched"
      >Nem változtathatja meg a nevet!</span
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bejegyzés szövege</mat-label>
    <textarea formControlName="message" matInput rows="5"></textarea>
  </mat-form-field>

  <div class="text-center" formArrayName="pictures">
    <button
      (click)="addPictures()"
      color="accent"
      mat-raised-button
      type="button"
    >
      Fényképek hozzáadása <mat-icon matSuffix>photo</mat-icon>
    </button>
    <ng-container>
      <div
        *ngFor="let pictureControl of forFormArray(); let i = index"
        class="input-group mb-2"
      >
        <input
          (change)="selectedFiles($event)"
          *ngIf="i < 1"
          type="file"
          multiple
          class="form-control"
          [formControlName]="i"
        />
      </div>
    </ng-container>
  </div>
  <mat-form-field class="select-container mt-2">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-label>Látható mások számára is</mat-label>
    <mat-select formControlName="sharing" id="sharing">
      <mat-option (click)="notShared = false" ngClass="green" value="yes"
        >Igen</mat-option
      >
      <mat-option (click)="notShared = true" ngClass="yellow" value="no"
        >Csak nekem</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button class="shareButton" color="accent" mat-raised-button type="submit">
    Új bejegyzés megosztása
  </button>
</form>

<div class="text-center">
  <button
    class="blue mt-1 mb-3"
    (click)="showNotSharedPosts = !showNotSharedPosts"
    mat-raised-button
    type="button"
  >
    Privát bejegyzéseim
  </button>
</div>
<ng-container *ngIf="showNotSharedPosts">
  <div *ngFor="let privatePost of privatePosts | sort" class="row">
    <div class="col text-center">
      <mat-card class="bgCard my-2">
        <mat-card-header>
          <mat-card-title>{{ userProfile.displayName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ privatePost.message }}
        </mat-card-content>
        <mat-card-content>
          <div
            *ngFor="let pic of privatePost.pictures"
            class="col-12 d-flex justify-content-center"
          >
            <img
              class="rounded"
              [src]="pic.url"
              [alt]="pic.name"
              width="75%"
              height="100%"
            />
          </div>
        </mat-card-content>

        <mat-card-footer>
          <small>{{ privatePost.timeStamp }}</small>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-container>

<div *ngFor="let post of sharedPosts | sort; let i = index" class="row mt-3">
  <div class="col text-center">
    <mat-card>
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>{{ post.displayName }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        {{ post.message }}
      </mat-card-content>

      <mat-card-content>
        <div
          *ngFor="let pic of post.pictures"
          class="col-12 d-flex justify-content-center"
        >
          <img
            class="rounded"
            [src]="pic.url"
            [alt]="pic.name"
            width="75%"
            height="100%"
          />
        </div>
      </mat-card-content>

      <mat-card-footer>
        <small>{{ post.timeStamp }}</small>
        <ng-container *ngFor="let person of peopleLikedPost">
          <div
            *ngIf="person[0].displayName && post.id === person[0].postId"
            class="d-flex align-items-center justify-content-center w-100"
          >
            <p
              (click)="showWhoLikedPost(person)"
              class="d-flex align-items-center"
            >
              <mat-icon class="text-primary mx-2">thumb_up</mat-icon>
              <span class="text-start"
                >{{ person[0].displayName }} és további
                {{ post.liked?.length - 1 }} ember kedveli</span
              >
            </p>
          </div>
        </ng-container>
      </mat-card-footer>
      <mat-card-actions class="w-100 justify-content-center pt-0">
        <div class="d-flex text-center">
          <button
            (click)="like(post)"
            class="me-2"
            color="accent"
            mat-raised-button
            type="button"
          >
            Tetszik
            <mat-icon matPrefix class="text-primary align-middle"
              >thumb_up</mat-icon
            >
          </button>
          <button color="primary" mat-raised-button type="button">
            Hozzászólás
            <mat-icon matPrefix class="text-warning align-middle"
              >edit_note</mat-icon
            >
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
