#mat-input-3.ng-touched {
  border: 2px solid red;
  background-color: rgba(233, 11, 11, 0.7);
}

.blue {
  background-color: rgba(5, 5, 228, 0.7) !important;
}

.bgCard {
  background-color: rgba(5, 5, 228, 0.4) !important;
}

.shareButton {
  background-color: rgba(0, 128, 0, 0.7) !important;
}

.loadingSpinnerContainer {
  height: 30vh;
  position: relative;
  h2 {
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-weight: bold;
  }
}

.loadingSpinner {
  position: absolute;
  top: 25vh;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 0px;
  font-size: 10rem;
  color: rgb(59, 28, 121);
  animation: loadingSpinner 1s linear infinite;
}

.section-hidden {
  opacity: 0;
  transform: translate(20rem, -20rem);
}

.section-visible {
  transition: transform 2s, opacity 3s;
}

.share-button {
  background: rgb(171, 171, 197);
  mat-icon {
    color: rgb(35, 117, 35);
  }
}

.shared-with-me-by {
  position: absolute;
  font-size: 1.15rem;
  left: 10px;
  top: 5px;
  font-weight: bold;
  font-style: italic;
}

.post-text {
  margin-bottom: 5px;
  padding-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shared-with-me-time {
  position: absolute;
  font-size: 1.02rem;
  right: 10px;
  top: 5px;
  font-style: italic;
}

.posted-img {
  max-height: 70vh;
}

@keyframes loadingSpinner {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 770px) {
  .space-div {
    height: 50px;
  }
  .shared-with-me-time {
    top: 50px;
    left: 10px;
  }
  .section-hidden {
    transform: translate(7rem, -20rem) !important;
  }
}
